extends layout

block content
  H1 Welcome to #{title)
  P Sie können hier Ihre aktuelle Position taggen sowie bereits getaggte Positionen listen.
  P
    a(href='./tagging') Tagging
    br
    a(href='./discovery') Discovery
